<div class="row">
    <div class="col-md-4">
        <div class="rounded-lg px-3 py-4 box-shadows">
            <div class="row">
                <h5 class="text-blue font-semibold">
                    Front-end developer
                </h5>

                <div class=" col-12 text-xs d-flex align-items-center justify-content-between font-medium">
                    <span class="text-sm">
                        Bitmə tarixi:
                        <span class="bg-light-yellow text-xs text-dark-yellow inline-block p-2 ms-2 rounded-3xl">
                            <i class="me-1 fa-regular fa-hourglass-start"></i> 18 Oktyabr 2024
                        </span>
                    </span>
                </div>
            </div>

            <div class="row mt-4">
                <p class=" text-justify bg-danger" style="height: 100px; ;    -webkit-line-clamp: 3; text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            ">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab molestiae, officiis, consequuntur
                    beatae
                    praesentium, exercitationem porro nostrum veritatis earum nihil temporibus fugiat tempora velit
                    quidem
                    praesentium, exercitationem porro nostrum veritatis earum nihil temporibus fugiat tempora velit
                    quidem
                </p>
            </div>

            <div class="row mt-4 justify-content-end">
                <div class="col-md-6">
                    <button class="col-12 p-2 font-medium rounded-lg text-white bg-pink">
                        Müraciət et
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>