<div class="row mt-4">
  <div class="col-md-8 ">
    <h2 class="mb-4 col-12 text-blue font-semibold">
      {{vacancyData!.name}}
    </h2>

    <ng-container>
      <p class="font-semibold mb-2">
        Təsvir:
      </p>

      <ul class="ps-4 list-disc">
        <li class="list-marker" *ngFor="let detail of vacancyData!.details">
          {{detail}}
        </li>
      </ul>
    </ng-container>

    <ng-container>
      <p class="font-semibold mt-3 mb-2">
        Tələblər:
      </p>

      <ul class="ps-4 list-disc">
        <li class="list-marker" *ngFor="let requirement of vacancyData!.requirement">
          {{requirement}}
        </li>
      </ul>
    </ng-container>

  </div>

  <div class="col-md-4">
    <div class="bg-slate-100 text-sm p-3 rounded-lg">
      <p class="">
        <i class="text-pink me-2 fa-sharp fa-solid fa-location-dot"></i> Ünvan: {{vacancyData!.location}}
      </p>
      <p class="">
        <i class="text-pink me-2 fa-solid fa-circle-dollar"></i>Əmək haqqı: {{vacancyData!.salary}} ₼
      </p>

      <p class="">
        <i class="text-pink me-2 fa-solid fa-envelope"></i>E-poçt:
        <a [href]="vacancyData!.email">{{vacancyData!.email}}</a>
      </p>

      <p class="">
        <i class="text-pink me-2 fa-solid fa-calendar-days"></i>Elanın qoyulma tarixi:
        {{vacancyData!.beginDate | date:'d.MM.y':'Asia/Baku'}}
      </p>

      <p class="">
        <i class="text-pink me-2 fa-solid fa-calendar-days"></i>Son müraciət tarixi:
        {{vacancyData!.endDate | date:'d.MM.y':'Asia/Baku'}}
      </p>
    </div>
  </div>
</div>

<mat-stepper *ngIf="!successModel; else result" class="poppins-thin mt-4 pt-3" [linear]="true" #stepper>
  <mat-step [stepControl]="appealFormGroup" label="Müraciət formu">
    <form [formGroup]="appealFormGroup">
      <div class="row gap-y-2">
        <div class="col-md-4 pt-1">
          <div class="field mt-2">
            <input required autocomplete="off" type="text" formControlName="fullname" id="fullname" name="fullname" />
            <label for="fullname" title="Ad, soyad" data-title="Ad, soyad"></label>
            <small class="error_text"
              *ngIf="(this.appealFormGroup.controls['fullname'].errors?.['required'] && !isAppealValid) || (this.appealFormGroup.controls['fullname'].invalid && !isAppealValid)">
              *Məcburi xana
            </small>
          </div>
        </div>

        <div class="col-md-4 pt-1">
          <div class="field mt-2">
            <input autocomplete="off" required maxlength="10"
              onkeypress='return event.charCode > 31 && (event.charCode >= 48 && event.charCode <= 57) && event.charCode != 46'
              class="phoneNumber" type="text" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" />

            <label for="phoneNumber" title="Nömrə" data-title="Nömrə"></label>

            <small class="error_text"
              *ngIf="(this.appealFormGroup.controls['phoneNumber'].errors?.['required'] && !isAppealValid) || (this.appealFormGroup.controls['phoneNumber'].invalid && !isAppealValid)">
              *Zəhmət olmasa, düzgün telefon nömrəsi daxil edin
            </small>
          </div>
        </div>

        <div class="col-md-4 pt-1">
          <div class="field mt-2">
            <input autocomplete="off" required type="email" formControlName="email" id="email" name="email" />
            <label for="email" title="Email" data-title="Email"></label>

            <small class="error_text"
              *ngIf="(this.appealFormGroup.controls['email'].errors?.['required'] && !isAppealValid) || (this.appealFormGroup.controls['email'].invalid && !isAppealValid)">
              *Zəhmət olmasa, düzgün email ünvanı daxil edin
            </small>
          </div>
        </div>
      </div>

      <div class="row mt-4 justify-content-end ">
        <div class="col-md-1">
          <button class="col-12 rounded-lg text-white bg-pink" style="font-weight: 600 !important;" mat-button
            matStepperNext (click)="stepClickAppeal()">Sonrakı</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step label="Test sualları">
    <div class="row" *ngIf="display">
      <div class="col-12 font-semibold text-blue text-end">
        Qalan vaxt: <span class="error_text">{{display}}</span>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <p class="font-medium">
          {{currentQuestionSet?.id + 1}}. {{currentQuestionSet?.question}}
        </p>
      </div>

      <div class="row col-12">
        <p *ngFor="let item of currentQuestionSet?.options">
          <mat-radio-button [value]="item.value" [(ngModel)]="currentQuestionSet.selected" (change)="setAnswer($event)"
            name="fieldName" ngDefaultControl> </mat-radio-button>
          {{item.text}}
        </p>
      </div>
    </div>

    <div *ngIf="!isAnswered" class="row mb-2 justify-content-end align-items-center">
      <span class="error_text font-semibold col-md-5 text-end">
        Zəhmət olmasa, sualı cavablandırın!
      </span>
    </div>

    <div class="row justify-content-end align-items-center">
      <div class="col-md-1" [ngClass]="{'col-md-2': this.questions.length != this.currentIndex}">
        <button class="col-12 rounded-lg text-white bg-pink" style="font-weight: 600 !important;" mat-button
          (click)="next(stepper)">
          {{this.questions.length != this.currentIndex ? 'Sonrakı sual' : 'Bitir'}}
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step label="CV Yükləmə">
    <div class="row">
      <label for="file-upload"
        class="file opacity-75 custom-file-upload text-blue font-medium  d-flex align-items-center flex-column justify-content-center border-blue rounded-lg">
        <span *ngIf="fileName; else fileNotExcist">
          <i class="fa-regular fa-file-lines"></i> {{fileName}}
        </span>

        <ng-template #fileNotExcist>
          <i class="fa-regular mb-3 text-blue fa-cloud-arrow-up text-4xl"></i>
          Zəhmət olmasa, CV faylınızı sürüşdürüb atın və ya qovluqdan seçin.
        </ng-template>

        <input (change)="uploadFile($event)" class="d-none" type="file" id="file-upload" accept=".pdf, .docx" />
      </label>
    </div>

    <!-- <div class="row mt-4 justify-content-end">
      <div class="col-md-1">
        <button class="col-12 rounded-lg text-white bg-pink" style="font-weight: 600 !important;" mat-button
          matStepperNext (click)="handleSend()">
          Göndər
        </button>
      </div>
    </div> -->
  </mat-step>
</mat-stepper>

<ng-template #result>
  <app-result-components [data]="successModel"></app-result-components>
</ng-template>