::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep  .mat-step-header.cdk-program-focused{
     background-color: #fff !important; 
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #032766;
    color: #fff;
}

::ng-deep .mat-mdc-radio-button .mdc-radio {
    padding: 0 !important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle,
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #CF2874 !important;
}
