<div class="main">
    <nav class="main-background pt-5 px-5">
        <div class="navigation bg-white rounded-lg px-3 py-3 gap-y-3 col-12 mx-auto row align-items-center shadow-md">
            <div class="col-md-9">
                <h3 [routerLink]="['../vacancies']" routerLinkActive="router-link-active"  class="m-0 cursor-pointer text-blue font-semibold">Vakansiyalar</h3>
            </div>

            <div class="col-md-3 ">
                <div class="field search-field ">
                    <input placeholder="Vakansiya axtar..."  (keyup)="handleKeyUp($event)" autocomplete="off" type="text" [(ngModel)]="search" id="fullname"
                        name="fullname" />
                </div>
            </div>
        </div>
    </nav>

    <main class="px-5 py-4">
        <router-outlet></router-outlet>
    </main>

    <footer class="text-white bg-footer text-sm text-center py-2 ">
        Site by <a class="text-pink" target="_blank" href="https://gulchohraumarli.netlify.app/">Gulchohra Umarli</a> © 2024 All rights reserved.
    </footer>
</div>