
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::selection {
    background: #266AB8;
    color: #fff;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 3px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #266AB8 !important;
    border-radius: 2px;
}

html,
body {
    font-family: "Poppins", sans-serif !important;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.poppins-thin {
    font-family: "Poppins", sans-serif !important;
  }

.row {
    margin: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.main{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-background{
    height: 80vh;
    background: url(./assets/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation{
    height: 9vh;
}

.text-orange{
  color: #F69810;
}

.text-green{
  color: #55c655;
}

.text-pink{
  color: #CF2874;
}

.bg-pink{
  background-color: #CF2874 !important;
}

.text-blue{
    color: #032766;
}

.border-blue{
    border: 1px dashed #032766c9;
}

.bg-blue{
    background-color: #032766;
}

.bg-yellow{
    background-color: #FFDDBD;
}

.bg-light-pink{
    background-color:  #FFF5F9;
}

.bg-light-yellow{
    background-color:  #ffd5bf
}

.text-dark-yellow,
.list-marker::marker{
    color:  #F16A23
}

.box-shadows{
    box-shadow: 0 3.57397px 40.2071px #00000014;
}

.error_text{
    color: red;
}

.label-before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    color: #266AB8;
    border-radius: 5px;
    padding: 0 6px;
    left: 13px;
    border: 0.5px solid #154d5325;
}

.field {
    position: relative;
    mat-label::before ,label::before {
        content: attr(title);
        position: absolute;
        top: 1px;
        left: 17px;
        line-height: 46px;
        font-size: 16px;
        color: #777;
        transition: 300ms all;
        background-color: #fff;
    }
    input,
    select {
        width: 100%;
        line-height: 39px;
        height: 48px;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 16px;
        color: #222;
        border: 1px solid #154d531d;
        border-radius: 15px;
        &:focus {
            outline: 0;
            border-color: #032766;
        }
        &:valid + label::before {
            @extend .label-before;
            content: attr(data-title);
        }
        &:focus + label::before {
            @extend .label-before;
            color: #266AB8;
        }
    }
}

.selectfileInputPay {
    position: absolute !important;
    width: 96% !important;
    height: 100% !important;
    opacity: 0;
  }

.file{
    font-family: 'Poppins', sans-serif !important;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    height: 20vh;
}

.animate-fade-in {
    animation: setAnimation 0.7s;
}

@keyframes setAnimation {
    0% {
        opacity: 0.5;
        transform: translate(0, 10%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}